<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>{"service":"notifications-service"}</pattern>
                </pattern>
                <logLevel/>
                <loggerName/>
                <message/>
                <mdc>
                    <flatten>true</flatten> <!-- Опционально: вынести trace_id на верхний уровень -->
                </mdc>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/app/logs/app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Шаблон имён ротированных файлов -->
            <fileNamePattern>/app/logs/app-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- Макс. размер файла перед ротацией -->
            <maxFileSize>10MB</maxFileSize>
            <!-- Хранить логи за 7 дней -->
            <maxHistory>7</maxHistory>
            <!-- Общий лимит места на логи -->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>{"service":"notifications-service"}</pattern>
                </pattern>
                <logLevel/>
                <loggerName/>
                <message/>
                <mdc>
                    <flatten>true</flatten>
                </mdc>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.mdc.v1_0.OpenTelemetryAppender">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="OTEL"/>
    </root>
</configuration>